<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="site/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <h1>Blog of Do Cao Minh Chi</h1>
    </div>
    <div>
            <h2>Posts</h2>
    </div>
    {{#each posts}}
    <div class="post">
        <h2><a class="link" href="/detail/{{id}}">{{id}}. {{title}}</a></h2>
        <a class="btn edit" href="/update-post/{{id}}">Edit</a>
        <button class="btn delete" onclick="deletePost({{id}})">Delete</button>
    </div>
    {{/each}}
    <div class="blog">
        <a class="btn add" href="/new-post">Add New Post</a>
    </div>

</body>
</html>
<script type="text/javascript"></script>
<script>
    function deletePost(pId) {
        if (confirm("Do you want delete this post?") === true) {
        $.ajax({
            url: "/delete-post",
            dataType: "json",
            type: "delete",
            data: {
                id: pId
            },
            success: function(data) {
                if (data==200) {
                    location.reload();
                }
                else{
                    alert("Error");
                }
            }
        });
    };
}
</script>
